body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 644px;
    background: gray;
    padding: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: rgb(182, 45, 45);
}

img {
    height: 100px;
    position: relative;
}

.img_other {
    width: 200px;
}

.container P {
    display: block;
    text-align: center;
    color: #Fff;
    font-size: 15px;
    font-weight: bold;
}

html, body {
    height: 100%;
    background-color: rgb(182, 45, 45);
    color: #fff;
}

a {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
}